// ==========================================================================
// Color
// ==========================================================================

$gallery             : #f0f0f0;
$white               : #ffffff;
$black               : #000000;
$mine-shaft-2        : #202020;
$gray-border         : #c9c9c9;
$dove-gray           : #666666;
$silver              : #cccccc;
$oslo-gray           : #888d94;
$mine-shaft          : #333333;
$ebb                 : #efedec;
$dune                : #312f2d;
$menu-separator-color: #d1d1d1;
$news-color          : #222222;
$silver-chalice      : #aaaaaa;
$asphalt             : #170909;
$dusty-gray          : #999999;
$border-bottom-room  : #cecece;
$mongoose            : #b99c7d;
$haiti               : #181333;
$dark-tan            : #7a1111;
$customer-border-top : #2e2e2e;
$alto                : #cfcfcf;