@font-face {
  font-family: "RoundhandBT Regular";
  src: url(../font/RoundhandBT.ttf);
}
  
@font-face {
  font-family: "YuMincho Demibold";
  src: url(../font/yumindb.ttf);
}

@font-face {
  font-family: "YuMincho Regular";
  src: url(../font/yumin.ttf);
}

@font-face {
  font-family: "RyuminPro Bold";
  src: url(../font/RyuminPro-Bold.otf);
}
  
@font-face {
  font-family: "YuGothic Regular";
  src: url(../font/yugothic.ttf);
}