@use 'color' as *;

.hamburger {
  padding                   : 13px 11px;
  display                   : inline-block;
  cursor                    : pointer;
  transition-property       : opacity, filter;
  transition-duration       : 0.15s;
  transition-timing-function: linear;
  font                      : inherit;
  color                     : inherit;
  text-transform            : none;
  background-color          : $mine-shaft-2;
  border                    : 0;
  margin                    : 0;
  overflow                  : visible;
  outline                   : 0;
  
  &.is-active:hover {

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $white;
    }
  }
}

.hamburger-box {
  width   : 24px;
  height  : 17px;
  display : inline-block;
  position: relative;
}

.hamburger-inner {
  display   : block;
  top       : 50%;
  margin-top: -2px;

  &,
  &::before,
  &::after {
    width                     : 24px;
    height                    : 3px;
    background-color          : $white;
    border-radius             : 4px;
    position                  : absolute;
    transition-property       : transform;
    transition-duration       : 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: '';
    display: block;
  }

  &::before {
    top: -4px;
  }

  &::after {
    bottom: -4px;
  }
}

.hamburger--vortex {
  .hamburger-inner {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    &::before,
    &::after {
      transition-duration: 0s;
      transition-delay: 0.1s;
      transition-timing-function: linear;
    }

    &::before {
      transition-property: top, opacity;
    }

    &::after {
      transition-property: bottom, transform;
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: rotate(765deg);
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

      &::before,
      &::after {
        transition-delay: 0s;
      }

      &::before {
        top: 0;
        opacity: 0;
      }

      &::after {
        bottom: 0;
        transform: rotate(90deg);
      }
    }
  }
}